<%- include('../../../../app/views/shared/header') %>
<%- include('../../../periodicjs.ext.admin/views/shared/nav') %>
<% 
const pluralize = periodic.viewHelper.pluralize;
const entityFromURL = locals.request.parsed.pathname.replace(/\//gi,'');// const entityFromURL = locals.request.originalurl.split('/')[locals.request.originalurl.split('/').length-1];
const singularEntity = pluralize.singular(entityFromURL);
const entitytype = singularEntity;
const items= locals[entityFromURL];
%>

<!--
< %- include('../shared/content',{
	entitytype:singularEntity,
	items: locals[entityFromURL],
}); 
% >
-->


<%
const capitalize = periodic.viewHelper.capitalize;
const path = periodic.viewHelper.path;
// console.log({locals})
// console.log({items});
const hasItems = (
  items && 
  items[pluralize(entitytype)] && 
  items[pluralize(entitytype)].documents.length) ? true:false;
const entityName = {
  name: entitytype,
  plural: pluralize(entitytype),
  capitalized: (capitalize(entitytype)),
  pluralCapitalized: pluralize(capitalize(entitytype)),
};
const entityPage = {
  count: (hasItems) ? items[`${entityName.plural}total`] : 0,
  limit: (hasItems) ? items[`${entitytype}limit`] : 0,
  totalpages: (hasItems) ? items[`${entityName.plural}totalpages`] : 1,
  currentpage: (hasItems) ? items[`${entitytype}page_current`] : 1,
}
const notification = (request.query && request.query.notification)
  ? request.query.notification
  : locals.notification;
// console.log({entityPage,items});

%>
<article>

  <% if(notification){%>
    <section>
      <input value="<%- notification %>" disabled readonly style="width: 100%; font-size: 120%; margin: 0rem 0rem 1rem; padding: 1rem; background: whitesmoke; box-sizing: border-box; border: 1px solid lightgray; color:black;"/>
    </section> 
  <%}%>
  <section>
    <form method="GET" style="flex-direction:row">
        <input placeholder="Search <%- entityName.pluralCapitalized %>" name="query" type="text" value="<%- request.query.query %>"/>
      <div style="display:flex; margin-bottom:1rem;">
        <a href="<%- path.join(request.baseurl,request.parsed.pathname,'new') %>" style="display:flex;flex:1;align-items:center;padding: 0 0 0 1rem;">Create <%- entityName.capitalized %></a>
      </div>
    </form>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Active</th>
          <th>Cron Interval</th>
          <th>Type</th>
          <th>Run</th>
        </tr>
      </thead>
      <tbody>
      <% if(hasItems){
        items[pluralize(entitytype)].documents.map(item=>{
          // console.log({item})
          const cronStatus = ( item.active) ? 'false':'true';

          %>
          <tr>
            <td><a href="<%- path.join(request.baseurl,request.parsed.pathname,item._id.toString()).replace('ext/dblogger','data') %>"><%- item._id %></a></td>
            <td><%- item.title %></td>
            <td><%- item.description || item.content %></td>
            <td>
            
            <form action="<%- path.join('/extension/crons/setactive',item._id.toString(),cronStatus) %>" method="POST">
                <input type="hidden" name="_csrf" value="<%- token %>"/>
                <input type="hidden" name="active" value="<%- item.active %>"/>
                <section style="display:flex; flex-direction:row">
                  <input type="submit" style="margin:0;" value="<%- item.active %> (Set to <%- cronStatus %>)"/>
                </section>
              </form>
            </td>
            <td> 
              Cron: <%- item.display_cron %> (<%- item.cron_interval %>) <br>
              Next: <%- item.display_next_cron %>
            </td>
            <td><%- (item.internal_function)?'Internal':'Script' %></td>
            <td>
              <form action="<%- path.join('/extension/crons',item._id.toString(),'run') %>" method="POST">
                <input type="hidden" name="_csrf" value="<%- token %>"/>
                <input type="hidden" name="active" value="<%- item.active %>"/>
                <section style="display:flex; flex-direction:row">
                  <input type="submit" style="margin:0;" value="Run"/>
                </section>
              </form>
            </td>
          </tr>
        <%});
      } else{%>
        <tr>
          <td colspan="7">No <%- entityName.pluralCapitalized %></td>
        </tr>
      <%}%>
      </tbody>
      <tfoot>
        <tr>
          <th><% if(entityPage.currentpage > 1){%>
          <a href="?pagenum=<%- entityPage.currentpage-1 %>">Prev Page<a/>
          <%} %>
          </th>
          <th>Page <%- entityPage.currentpage %> of <%- entityPage.totalpages %>
          </th>
          <th colspan="2">Showing <%- (entityPage.limit > entityPage.count)? entityPage.count: entityPage.limit %> of <%- entityPage.count %></th>
          <th>
          <% if(entityPage.currentpage <= entityPage.totalpages -1){ %>
            <a href="?pagenum=<%- entityPage.currentpage+1 %>">Next Page</a>
          <% } %>
          </th>
          <th/>
        </tr>
      </tfoot>
    </table>
    <div>
    <h4>Cron Config</h4>
    <table>
      <tr>
        <td valign="top">
          <p>When specifying your cron values you'll need to make sure that your values fall within the ranges. For instance, some cron's use a 0-7 range for the day of week where both 0 and 7 represent Sunday. We do not.</p>
          <ul>
            <li>Seconds: 0-59</li>
            <li>Minutes: 0-59</li>
            <li>Hours: 0-23</li>
            <li>Day of Month: 1-31</li>
            <li>Months: 0-11</li>
            <li>Day of Week: 0-6</li>
          </ul>
        </td>
        <td>
          <pre><%- JSON.stringify(locals.cronConfig,null,2) %></pre>
        </td>
      </tr>
    </table>
    
    </div>
  </section>
</article>
<%- include('../../../../app/views/shared/footer') %>